openapi: "3.1.0"

info:
  title: TempoFast Workstation API
  version: "1.0.0"
  description: >
    REST API for TempoFast workstation devices to communicate with the cloud
    backend. Authentication uses a device_token obtained via the pairing flow.
    All endpoints are prefixed with /api/v1/workstation/.

servers:
  - url: https://tempo.godx.jp
    description: Production
  - url: http://localhost:5400
    description: Local development

tags:
  - name: Pairing
    description: Device pairing (public, no authentication required)
  - name: Sync
    description: Data synchronization between workstation and cloud
  - name: Menu
    description: Menu retrieval and incremental updates
  - name: Orders
    description: Order creation, status updates, payments, and listing
  - name: Branch
    description: Branch information and staff
  - name: Device
    description: Device heartbeat and configuration
  - name: Monitoring
    description: Server load monitoring, health checks, and audit logs
  - name: KDS
    description: Kitchen Display System LAN endpoints for local kiosk/kitchen screens

security:
  - deviceToken: []

paths:
  # ──────────────────────────────────────────────────────────────
  # Pairing (public)
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/pair:
    post:
      operationId: pairDevice
      summary: Pair a workstation device
      description: >
        Exchange a 6-character pairing code for a device_token. The pairing code
        is generated by an admin in the web dashboard and is valid for 15 minutes.
        This endpoint does not require authentication.
      tags:
        - Pairing
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PairRequest"
      responses:
        "200":
          description: Device paired successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PairResponse"
        "422":
          description: Invalid or expired pairing code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # Sync
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/sync/pull:
    get:
      operationId: syncPull
      summary: Pull changes from cloud
      description: >
        Pull updated data from the cloud including menu items, categories, tables,
        zones, and branch info. Omit the `since` parameter for a full sync. When
        `since` is provided, only records modified after that timestamp are returned
        along with IDs of deleted entities.
      tags:
        - Sync
      parameters:
        - name: since
          in: query
          required: false
          description: >
            ISO 8601 timestamp. Only changes after this time are returned.
            Omit for a full sync.
          schema:
            type: string
            format: date-time
            example: "2026-04-10T12:00:00Z"
      responses:
        "200":
          description: Sync data returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncPullResponse"
        "401":
          description: Unauthenticated — invalid or missing device token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/sync/push:
    post:
      operationId: syncPush
      summary: Push local changes to cloud
      description: >
        Batch push locally-created operations (orders, payments, status updates)
        to the cloud. Each operation carries an idempotency_key so retries are
        safe. The response reports per-operation success or failure, allowing
        partial success.
      tags:
        - Sync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncPushRequest"
      responses:
        "200":
          description: Push processed (may include partial failures)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncPushResponse"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/sync/status:
    get:
      operationId: syncStatus
      summary: Get sync health status
      description: >
        Returns the current server time and sync health information. Used by the
        workstation to verify connectivity and clock drift.
      tags:
        - Sync
      responses:
        "200":
          description: Sync status returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncStatusResponse"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # Menu
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/menu:
    get:
      operationId: getMenu
      summary: Get full menu for the branch
      description: >
        Returns the complete menu for the branch associated with this device,
        including all categories, products, and SKUs.
      tags:
        - Menu
      responses:
        "200":
          description: Full menu returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      menus:
                        type: array
                        items:
                          $ref: "#/components/schemas/Menu"
                      categories:
                        type: array
                        items:
                          $ref: "#/components/schemas/Category"
                    required:
                      - menus
                      - categories
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/menu/changes:
    get:
      operationId: getMenuChanges
      summary: Get incremental menu changes
      description: >
        Returns menu items that have been created, updated, or deleted since the
        given timestamp. Used for polling-based incremental menu sync (every 30s).
      tags:
        - Menu
      parameters:
        - name: since
          in: query
          required: true
          description: ISO 8601 timestamp. Only changes after this time are returned.
          schema:
            type: string
            format: date-time
            example: "2026-04-10T12:00:00Z"
      responses:
        "200":
          description: Incremental menu changes returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      menus:
                        type: array
                        description: New or updated menus
                        items:
                          $ref: "#/components/schemas/Menu"
                      categories:
                        type: array
                        description: New or updated categories
                        items:
                          $ref: "#/components/schemas/Category"
                      deleted_ids:
                        type: object
                        description: IDs of entities deleted since the given timestamp
                        properties:
                          menus:
                            type: array
                            items:
                              type: string
                              format: uuid
                          categories:
                            type: array
                            items:
                              type: string
                              format: uuid
                          products:
                            type: array
                            items:
                              type: string
                              format: uuid
                      server_time:
                        type: string
                        format: date-time
                    required:
                      - menus
                      - categories
                      - deleted_ids
                      - server_time
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Missing or invalid `since` parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # Orders
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/orders:
    post:
      operationId: createOrder
      summary: Create a new order
      description: >
        Create an order on the cloud. The workstation is the sole writer of
        orders. An idempotency_key in the request prevents duplicate creation
        on retry.
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRequest"
      responses:
        "201":
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderResponse"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Duplicate idempotency key — original response returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderResponse"
                required:
                  - data
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      operationId: listOrders
      summary: List orders by date
      description: >
        Retrieve orders for a given date. Used for end-of-day reconciliation
        between local and cloud data.
      tags:
        - Orders
      parameters:
        - name: date
          in: query
          required: false
          description: Date in YYYY-MM-DD format. Defaults to today.
          schema:
            type: string
            format: date
            example: "2026-04-11"
        - name: status
          in: query
          required: false
          description: Filter by order status
          schema:
            type: string
            enum:
              - open
              - preparing
              - ready
              - served
              - paid
              - cancelled
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Orders list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderResponse"
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
                    required:
                      - current_page
                      - per_page
                      - total
                      - last_page
                required:
                  - data
                  - meta
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/orders/{order}/status:
    put:
      operationId: updateOrderStatus
      summary: Update order status
      description: >
        Transition an order to a new status. The cloud validates the transition
        against allowed state machine rules (e.g. open -> preparing -> ready ->
        served -> paid). Invalid transitions return 422.
      tags:
        - Orders
      parameters:
        - name: order
          in: path
          required: true
          description: Order ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderStatusUpdate"
      responses:
        "200":
          description: Status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/OrderResponse"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict — order state has diverged; pull latest state from cloud
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Invalid status transition or validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/orders/{order}/payment:
    post:
      operationId: recordPayment
      summary: Record a payment for an order
      description: >
        Record a payment against an order. Payments are idempotent — submitting
        the same idempotency_key returns the original response without creating
        a duplicate payment record.
      tags:
        - Orders
      parameters:
        - name: order
          in: path
          required: true
          description: Order ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRecord"
      responses:
        "200":
          description: Payment recorded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      order_id:
                        type: string
                        format: uuid
                      payment_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        example: paid
                      paid_at:
                        type: string
                        format: date-time
                    required:
                      - order_id
                      - payment_id
                      - status
                      - paid_at
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Duplicate idempotency key — original response returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      order_id:
                        type: string
                        format: uuid
                      payment_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                      paid_at:
                        type: string
                        format: date-time
                    required:
                      - order_id
                      - payment_id
                      - status
                      - paid_at
                required:
                  - data
        "422":
          description: Validation error (e.g. amount mismatch, already paid)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # Branch
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/branch:
    get:
      operationId: getBranch
      summary: Get branch information
      description: >
        Returns information about the branch this device belongs to, including
        name, address, tax configuration, and brand details.
      tags:
        - Branch
      responses:
        "200":
          description: Branch info returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/BranchResponse"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/branch/staff:
    get:
      operationId: getBranchStaff
      summary: Get staff list for the branch
      description: >
        Returns the list of staff members assigned to this branch. This endpoint
        is reserved for future use.
      tags:
        - Branch
      responses:
        "200":
          description: Staff list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StaffResponse"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # Device
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/heartbeat:
    post:
      operationId: sendHeartbeat
      summary: Send device heartbeat
      description: >
        Report device telemetry to the cloud including app version, memory usage,
        uptime, and sync queue depth. The cloud uses this to monitor device health
        and detect offline devices.
      tags:
        - Device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HeartbeatRequest"
      responses:
        "200":
          description: Heartbeat acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeartbeatResponse"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/config:
    get:
      operationId: getDeviceConfig
      summary: Get device configuration from cloud
      description: >
        Retrieve cloud-managed configuration for this device, including tax
        settings, receipt text, feature flags, and sync intervals.
      tags:
        - Device
      responses:
        "200":
          description: Configuration returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DeviceConfigResponse"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # Monitoring
  # ──────────────────────────────────────────────────────────────
  /api/v1/workstation/audit:
    get:
      operationId: getAuditLog
      summary: Query audit log entries
      description: >
        Retrieve audit log entries filtered by time range, action type, and entity
        type. Returns the most recent entries first, limited to 100 by default.
      tags:
        - Monitoring
      parameters:
        - name: from
          in: query
          required: false
          description: Start of time range (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: End of time range (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: action
          in: query
          required: false
          description: Filter by action type (e.g. "order.create", "payment.record")
          schema:
            type: string
        - name: entity_type
          in: query
          required: false
          description: Filter by entity type (e.g. "order", "menu_item")
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of entries to return
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Audit entries returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/monitor:
    get:
      operationId: getMonitorSnapshot
      summary: Get server load snapshot
      description: >
        Returns a point-in-time snapshot of server load metrics including active
        connections, requests per minute, WebSocket clients, goroutine count,
        memory usage, and uptime.
      tags:
        - Monitoring
      responses:
        "200":
          description: Load snapshot returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/LoadSnapshot"
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/workstation/monitor/health:
    get:
      operationId: getHealthCheck
      summary: Health check endpoint
      description: >
        Lightweight health check that confirms the service is running and
        reachable. Returns basic status information suitable for uptime
        monitoring and load balancer probes.
      tags:
        - Monitoring
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: "1.0.0"
                required:
                  - status
                  - timestamp
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────────────────────
  # KDS (Kitchen Display System)
  # ──────────────────────────────────────────────────────────────
  /api/v1/kds/me:
    get:
      operationId: getKdsDeviceInfo
      summary: Get KDS device identity
      description: >
        Returns the KDS device's identity from auth context. No database hit
        required — the device context is resolved by the auth middleware and
        cached for the lifetime of the connection.
      tags:
        - KDS
      security:
        - deviceToken: []
      responses:
        "200":
          description: Device info returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - id
                      - type
                      - branch_id
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: KDS device ID
                      type:
                        type: string
                        enum: [kds]
                        description: Device type
                      branch_id:
                        type: string
                        format: uuid
                        description: Branch this device is assigned to
                required:
                  - data
        "401":
          description: Unauthenticated or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Replica not yet populated; cloud-fallback expected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/kds/orders:
    get:
      operationId: getKdsOrders
      summary: Get active orders for KDS
      description: >
        Returns branch-scoped active orders with embedded items for the kitchen
        display. Reads from local LAN replica (post-Sprint-4 orders + order_items
        tables). Status filter excludes closed/voided orders. Returns 503 when
        the orders table is empty — KDS-web should fall back to cloud in that case.
      tags:
        - KDS
      security:
        - deviceToken: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 200
          description: Maximum number of orders to return
      responses:
        "200":
          description: Branch-scoped active orders with embedded items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/KdsOrderResponse"
                  meta:
                    type: object
                    required:
                      - count
                      - fetched_at
                    properties:
                      count:
                        type: integer
                        description: Number of orders returned
                      fetched_at:
                        type: string
                        format: date-time
                        description: When the orders were fetched
                required:
                  - data
                  - meta
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Orders table is empty (cloud-fallback expected)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/kds/orders/{order}/items/{item}/status:
    patch:
      operationId: updateKdsItemStatus
      summary: Bump kitchen item status
      description: >
        Update an order item's status (preparing → ready → served). The
        Idempotency-Key header is required for safe retry. On success, the
        local status is updated, a WebSocket event is broadcast, and a sync
        message is enqueued to the cloud. If cloud returns 409 (conflict),
        the local status is reverted and a corrective WS event is sent.
      tags:
        - KDS
      security:
        - deviceToken: []
      parameters:
        - name: order
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Order ID
        - name: item
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Order item ID
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Client-generated UUID for idempotent replay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [preparing, ready, served]
                  description: New status for the item
      responses:
        "200":
          description: Item status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - id
                      - status
                      - updated_at
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Item ID
                      status:
                        type: string
                        enum: [preparing, ready, served]
                      served_at:
                        type: string
                        format: date-time
                        nullable: true
                        description: Timestamp when served (only when status=served)
                      updated_at:
                        type: string
                        format: date-time
                required:
                  - data
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Order or item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error (missing Idempotency-Key or invalid status)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

# ════════════════════════════════════════════════════════════════
# Components
# ════════════════════════════════════════════════════════════════
components:
  securitySchemes:
    deviceToken:
      type: http
      scheme: bearer
      description: >
        Device token obtained from the POST /pair endpoint. Pass as
        `Authorization: Bearer {device_token}`.

  schemas:
    # ── Pairing ──────────────────────────────────────────────────
    PairRequest:
      type: object
      required:
        - pairing_code
        - device_info
      properties:
        pairing_code:
          type: string
          minLength: 6
          maxLength: 6
          description: 6-character pairing code generated by admin (valid for 15 minutes)
          example: XK9F2A
        device_info:
          type: object
          required:
            - hostname
            - os
            - arch
            - app_version
          properties:
            hostname:
              type: string
              description: Machine hostname
              example: ws-01
            os:
              type: string
              description: Operating system
              example: darwin
            arch:
              type: string
              description: CPU architecture
              example: arm64
            app_version:
              type: string
              description: Workstation application version
              example: "1.0.0"

    PairResponse:
      type: object
      required:
        - device_token
        - device
      properties:
        device_token:
          type: string
          minLength: 64
          maxLength: 64
          description: 64-character token used for all subsequent API calls
          example: "a1b2c3d4e5f6...64chars"
        device:
          type: object
          required:
            - id
            - name
            - type
            - branch_id
          properties:
            id:
              type: string
              format: uuid
              description: Cloud device ID
            name:
              type: string
              description: Human-readable device name set by admin
              example: Shibuya WS 1
            type:
              type: string
              enum:
                - workstation
              description: Device type (always "workstation" for this API)
            branch_id:
              type: string
              format: uuid
              description: Branch this device is assigned to

    # ── Sync ─────────────────────────────────────────────────────
    SyncPullResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - server_time
            - branch
            - menus
            - categories
            - tables
            - zones
          properties:
            server_time:
              type: string
              format: date-time
              description: Server timestamp to use as `since` in next pull
            branch:
              $ref: "#/components/schemas/BranchResponse"
            menus:
              type: array
              description: New or updated menus
              items:
                $ref: "#/components/schemas/Menu"
            categories:
              type: array
              description: New or updated categories
              items:
                $ref: "#/components/schemas/Category"
            tables:
              type: array
              description: Table definitions for the branch
              items:
                type: object
                required:
                  - id
                  - name
                  - zone_id
                  - capacity
                  - status
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                    example: "T1"
                  zone_id:
                    type: string
                    format: uuid
                  capacity:
                    type: integer
                    description: Maximum seating capacity
                    example: 4
                  status:
                    type: string
                    enum:
                      - available
                      - occupied
                      - reserved
                      - maintenance
                  sort_order:
                    type: integer
                  updated_at:
                    type: string
                    format: date-time
            zones:
              type: array
              description: Zone (area/floor) definitions
              items:
                type: object
                required:
                  - id
                  - name
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                    example: "1F"
                  sort_order:
                    type: integer
                  updated_at:
                    type: string
                    format: date-time
            deleted_ids:
              type: object
              description: >
                IDs of entities deleted since the `since` parameter. Only present
                for incremental pulls.
              properties:
                menus:
                  type: array
                  items:
                    type: string
                    format: uuid
                categories:
                  type: array
                  items:
                    type: string
                    format: uuid
                products:
                  type: array
                  items:
                    type: string
                    format: uuid
                tables:
                  type: array
                  items:
                    type: string
                    format: uuid
                zones:
                  type: array
                  items:
                    type: string
                    format: uuid

    SyncPushRequest:
      type: object
      required:
        - operations
      properties:
        operations:
          type: array
          minItems: 1
          maxItems: 50
          description: Batch of operations to push to the cloud (max 50 per request)
          items:
            type: object
            required:
              - idempotency_key
              - entity_type
              - entity_id
              - operation
              - payload
              - created_at
            properties:
              idempotency_key:
                type: string
                format: uuid
                description: >
                  Unique key for this operation. Cloud stores keys for 72 hours.
                  Duplicate keys return the original response.
              entity_type:
                type: string
                enum:
                  - order
                  - payment
                  - order_status
                description: Type of entity being synced
              entity_id:
                type: string
                format: uuid
                description: Local UUID of the entity
              operation:
                type: string
                enum:
                  - create
                  - update
                  - delete
                description: The operation performed
              payload:
                type: object
                description: >
                  Entity-specific payload. Structure depends on entity_type
                  and operation.
                additionalProperties: true
              created_at:
                type: string
                format: date-time
                description: When the operation was created locally

    SyncPushResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - server_time
            - results
          properties:
            server_time:
              type: string
              format: date-time
            results:
              type: array
              description: Per-operation result (supports partial success)
              items:
                type: object
                required:
                  - idempotency_key
                  - status
                properties:
                  idempotency_key:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                      - ok
                      - error
                  cloud_id:
                    type: string
                    format: uuid
                    description: Cloud-assigned ID (present when status is "ok")
                  error_code:
                    type: string
                    description: Error code (present when status is "error")
                    example: VALIDATION_ERROR
                  error_message:
                    type: string
                    description: Human-readable error message
                    example: "Invalid order total"

    SyncStatusResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - server_time
            - status
          properties:
            server_time:
              type: string
              format: date-time
              description: Current server UTC time
            status:
              type: string
              enum:
                - healthy
                - degraded
                - maintenance
              description: Overall sync service health
            last_sync_at:
              type: string
              format: date-time
              description: Last successful sync timestamp for this device
            pending_operations:
              type: integer
              description: Number of unprocessed operations from this device

    # ── Menu ─────────────────────────────────────────────────────
    Menu:
      type: object
      required:
        - id
        - name
        - is_active
        - products
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Menu name (e.g. "Lunch Menu", "Dinner Menu")
          example: Lunch Menu
        description:
          type: string
        is_active:
          type: boolean
          description: Whether this menu is currently active
        sort_order:
          type: integer
        products:
          type: array
          items:
            $ref: "#/components/schemas/MenuProduct"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MenuProduct:
      type: object
      required:
        - id
        - name
        - category_id
        - is_active
        - skus
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Margherita Pizza
        description:
          type: string
        category_id:
          type: string
          format: uuid
        image_url:
          type: string
          format: uri
        is_active:
          type: boolean
        sort_order:
          type: integer
        printer_group:
          type: string
          description: Printer routing group (e.g. "kitchen", "bar", "dessert")
          example: kitchen
        skus:
          type: array
          items:
            $ref: "#/components/schemas/MenuProductSku"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MenuProductSku:
      type: object
      required:
        - id
        - name
        - price
        - is_active
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: SKU variant name (e.g. "Regular", "Large")
          example: Regular
        price:
          type: integer
          description: Price in smallest currency unit (e.g. yen, cents)
          example: 1200
        is_active:
          type: boolean
        sort_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Category:
      type: object
      required:
        - id
        - name
        - is_active
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Pizza
        description:
          type: string
        is_active:
          type: boolean
        sort_order:
          type: integer
        parent_id:
          type: string
          format: uuid
          description: Parent category ID for nested categories (nullable)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ── Orders ───────────────────────────────────────────────────
    OrderCreateRequest:
      type: object
      required:
        - table_number
        - items
      properties:
        idempotency_key:
          type: string
          format: uuid
          description: Client-generated UUID to prevent duplicate orders on retry
        table_number:
          type: string
          description: Table identifier
          example: "T5"
        customer_count:
          type: integer
          minimum: 0
          description: Number of customers at the table
          example: 2
        notes:
          type: string
          description: General notes for the order
        items:
          type: array
          minItems: 1
          description: Line items for the order
          items:
            type: object
            required:
              - menu_item_id
              - quantity
            properties:
              menu_item_id:
                type: string
                format: uuid
                description: ID of the menu item (product SKU)
              quantity:
                type: integer
                minimum: 1
              notes:
                type: string
                description: Per-item notes (e.g. "no onion")

    OrderResponse:
      type: object
      required:
        - id
        - order_number
        - table_number
        - status
        - subtotal
        - tax
        - total
        - items
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Cloud order ID
        cloud_id:
          type: string
          format: uuid
          description: Alias for the cloud-side ID
        order_number:
          type: integer
          description: Sequential order number for the day
          example: 42
        table_number:
          type: string
          example: "T5"
        status:
          type: string
          enum:
            - open
            - preparing
            - ready
            - served
            - paid
            - cancelled
        customer_count:
          type: integer
        notes:
          type: string
        subtotal:
          type: integer
          description: Subtotal before tax (smallest currency unit)
          example: 3400
        tax:
          type: integer
          description: Tax amount (smallest currency unit)
          example: 340
        total:
          type: integer
          description: Total including tax (smallest currency unit)
          example: 3740
        payment_method:
          type: string
          enum:
            - cash
            - card
            - e-money
            - qr
          description: Payment method (present when paid)
        paid_at:
          type: string
          format: date-time
          description: Timestamp when the order was paid (nullable)
        items:
          type: array
          items:
            type: object
            required:
              - id
              - menu_item_id
              - menu_item_name
              - quantity
              - unit_price
              - status
            properties:
              id:
                type: string
                format: uuid
              order_id:
                type: string
                format: uuid
              menu_item_id:
                type: string
                format: uuid
              menu_item_name:
                type: string
                example: Margherita Pizza
              quantity:
                type: integer
              unit_price:
                type: integer
                description: Unit price in smallest currency unit
              notes:
                type: string
              printer_group:
                type: string
              status:
                type: string
                enum:
                  - pending
                  - sent_to_kitchen
                  - preparing
                  - ready
                  - served
                  - cancelled
              printed_at:
                type: string
                format: date-time
              created_at:
                type: string
                format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        synced_at:
          type: string
          format: date-time
          description: When this order was last synced (nullable)

    OrderStatusUpdate:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - preparing
            - ready
            - served
            - paid
            - cancelled
          description: >
            New status for the order. Must be a valid transition from the
            current status.
        idempotency_key:
          type: string
          format: uuid
          description: Client-generated UUID for idempotent status updates

    PaymentRecord:
      type: object
      required:
        - payment_method
        - amount
      properties:
        idempotency_key:
          type: string
          format: uuid
          description: Client-generated UUID to prevent duplicate payments
        payment_method:
          type: string
          enum:
            - cash
            - card
            - e-money
            - qr
          description: Method of payment
        amount:
          type: integer
          description: Amount paid in smallest currency unit
          example: 3740
        received_amount:
          type: integer
          description: Amount actually received (for cash, may be more than total)
          example: 4000
        change_amount:
          type: integer
          description: Change returned to customer
          example: 260
        paid_at:
          type: string
          format: date-time
          description: >
            When payment was collected locally. Defaults to server time if omitted.

    # ── Branch ───────────────────────────────────────────────────
    BranchResponse:
      type: object
      required:
        - id
        - name
        - organization_id
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Shibuya Branch
        organization_id:
          type: string
          format: uuid
        address:
          type: string
          example: "1-2-3 Shibuya, Tokyo"
        phone:
          type: string
          example: "03-1234-5678"
        tax_rate:
          type: number
          format: float
          description: Tax rate as a decimal (e.g. 0.10 for 10%)
          example: 0.10
        tax_inclusive:
          type: boolean
          description: Whether displayed prices include tax
        currency:
          type: string
          description: ISO 4217 currency code
          example: JPY
        timezone:
          type: string
          description: IANA timezone identifier
          example: Asia/Tokyo
        brand:
          type: object
          properties:
            name:
              type: string
              example: TempoFast
            logo_url:
              type: string
              format: uri
        updated_at:
          type: string
          format: date-time

    StaffResponse:
      type: object
      required:
        - id
        - name
        - role
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Tanaka Taro
        role:
          type: string
          enum:
            - manager
            - staff
            - kitchen
          description: Staff role at this branch
        pin_code:
          type: string
          description: 4-digit PIN for local authentication (hashed or masked)
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ── Device ───────────────────────────────────────────────────
    HeartbeatRequest:
      type: object
      required:
        - app_version
        - uptime
      properties:
        app_version:
          type: string
          description: Current application version
          example: "1.0.0"
        os:
          type: string
          description: Operating system
          example: darwin
        arch:
          type: string
          description: CPU architecture
          example: arm64
        memory_mb:
          type: number
          format: float
          description: Current memory usage in megabytes
          example: 128.5
        uptime:
          type: string
          description: Application uptime duration string
          example: "2h35m12s"
        sync_queue_depth:
          type: integer
          description: Number of operations pending in the sync queue
          example: 3
        local_order_count:
          type: integer
          description: Total local orders today
          example: 47
        active_connections:
          type: integer
          description: Number of active LAN client connections
          example: 2

    HeartbeatResponse:
      type: object
      required:
        - server_time
        - status
      properties:
        server_time:
          type: string
          format: date-time
          description: Current server UTC time
        status:
          type: string
          enum:
            - ok
            - update_available
            - force_update
          description: >
            Device status. "update_available" signals a non-critical update.
            "force_update" means the device must update before continuing.
        message:
          type: string
          description: Optional message from the cloud (e.g. update notice)
        latest_version:
          type: string
          description: Latest available app version (present when update is available)
          example: "1.1.0"

    DeviceConfigResponse:
      type: object
      required:
        - tax_rate
        - currency
      properties:
        tax_rate:
          type: number
          format: float
          description: Tax rate as decimal
          example: 0.10
        tax_inclusive:
          type: boolean
          description: Whether prices include tax
          default: true
        currency:
          type: string
          description: ISO 4217 currency code
          example: JPY
        receipt_header:
          type: string
          description: Text printed at the top of receipts
          example: "TempoFast Shibuya"
        receipt_footer:
          type: string
          description: Text printed at the bottom of receipts
          example: "Thank you for your visit!"
        features:
          type: object
          description: Feature flags for this device
          properties:
            kitchen_display:
              type: boolean
              description: Enable kitchen display integration
            table_management:
              type: boolean
              description: Enable table/zone management
            staff_pin:
              type: boolean
              description: Require staff PIN for operations
            multi_payment:
              type: boolean
              description: Allow split payments
          additionalProperties:
            type: boolean
        sync_interval_seconds:
          type: integer
          description: Recommended sync polling interval in seconds
          example: 5
        menu_poll_interval_seconds:
          type: integer
          description: Recommended menu change polling interval in seconds
          example: 30
        heartbeat_interval_seconds:
          type: integer
          description: Recommended heartbeat interval in seconds
          example: 60
        updated_at:
          type: string
          format: date-time

    # ── Monitoring ───────────────────────────────────────────────
    LoadSnapshot:
      type: object
      required:
        - active_connections
        - total_requests
        - requests_per_minute
        - ws_clients
        - goroutines
        - memory_mb
        - uptime
      properties:
        active_connections:
          type: integer
          format: int64
          description: Number of currently active HTTP connections
        total_requests:
          type: integer
          format: int64
          description: Total HTTP requests since server start
        requests_per_minute:
          type: number
          format: float
          description: Requests per minute (rolling 60-second window)
        ws_clients:
          type: integer
          description: Number of active WebSocket clients
        goroutines:
          type: integer
          description: Current number of Go goroutines
        memory_mb:
          type: number
          format: float
          description: Current heap memory usage in megabytes
          example: 45.2
        uptime:
          type: string
          description: Server uptime as a Go duration string
          example: "4h12m30s"

    AuditEntry:
      type: object
      required:
        - id
        - timestamp
        - actor
        - action
      properties:
        id:
          type: integer
          description: Auto-increment audit log ID
        timestamp:
          type: string
          format: date-time
          description: When the event occurred (UTC)
        actor:
          type: string
          description: Who performed the action (staff name, "system", or device ID)
          example: system
        action:
          type: string
          description: Action identifier
          example: order.create
        entity_type:
          type: string
          description: Type of entity affected
          example: order
        entity_id:
          type: string
          description: ID of the affected entity
          example: "550e8400-e29b-41d4-a716-446655440000"
        details:
          type: string
          description: Additional context about the event (free-form text or JSON)
        ip_address:
          type: string
          description: IP address of the client that triggered the event
          example: "192.168.1.10"

    # ── KDS ──────────────────────────────────────────────────────
    KdsOrderResponse:
      type: object
      required:
        - id
        - order_code
        - status
        - opened_at
        - guest_count
        - items
      properties:
        id:
          type: string
          format: uuid
          description: Order ID
        order_code:
          type: string
          description: Human-readable order code (e.g. "T5-001")
          example: "T5-001"
        status:
          type: string
          enum: [open, dining, checkout, paying]
          description: Order status (filtered to active statuses only)
        opened_at:
          type: string
          format: date-time
        note:
          type: string
          nullable: true
          description: General order notes
        guest_count:
          type: integer
          description: Number of guests at the table
        table_id:
          type: string
          format: uuid
          nullable: true
        table_number:
          type: string
          nullable: true
          description: Table identifier
          example: "T5"
        items:
          type: array
          description: Order items with kitchen-relevant details
          items:
            $ref: "#/components/schemas/KdsOrderItemResponse"

    KdsOrderItemResponse:
      type: object
      required:
        - id
        - menu_item_name
        - quantity
        - unit_price
        - status
      properties:
        id:
          type: string
          format: uuid
        product_sku_id:
          type: string
          format: uuid
          nullable: true
        menu_item_name:
          type: string
          example: Margherita Pizza
        quantity:
          type: integer
          minimum: 1
        unit_price:
          type: integer
          description: Unit price in smallest currency unit
        subtotal:
          type: integer
          nullable: true
          description: Total for this item (quantity × unit_price)
        note:
          type: string
          nullable: true
          description: Per-item special instructions
        status:
          type: string
          description: Item status for kitchen workflow
          example: preparing
        served_at:
          type: string
          format: date-time
          nullable: true
          description: When the item was marked as served
        voided_at:
          type: string
          format: date-time
          nullable: true
          description: When the item was voided/cancelled
        printer_group:
          type: string
          nullable: true
          description: Printer routing group (e.g. "kitchen", "bar")

    # ── Common ───────────────────────────────────────────────────
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: UNAUTHENTICATED
            message:
              type: string
              description: Human-readable error description
              example: "Invalid or expired device token"
            details:
              type: object
              description: Additional error context (validation errors, field-level messages)
              additionalProperties: true
